@import "../../variable.scss";

.review {
  width: 1440px;
  height: 650px;
  left: 0px;
  top: 180px;
  margin: 0 12rem;
  border: ridge 1px;
  background-color: whitesmoke;
  .genre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 10px;
    .genreText {
      font-size: $listFontSaize;
      color: $mainColor;
    }
    .genreSelect {
      width: 120px;
      border-radius: 5px;
      border: ridge 1px;
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 10px;
    .titleText {
      font-size: $listFontSaize;
      color: $mainColor;
    }
    .titleInput {
      padding-right: 80px;
      width: 200px;
      border-radius: 5px;
      border: ridge 1px;
    }
  }
  .file {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 10px;
    .fileText {
      font-size: $listFontSaize;
      color: $mainColor;
    }
    .fileInput {
      padding-right: 80px;
    }
    .fileBoolean {
      font-size: 14px;
      color: $mainColor;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 10px;
    .mainText {
      font-size: $listFontSaize;
      color: $mainColor;
    }
    .mainInput {
      width: 80%;
      padding-bottom: 15%;
      border-radius: 5px;
      border: ridge 1px;
    }
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 10px;
    .button {
      width: 100%;
      margin: 5px;
      background-color: #003333;
      color: #eeeeee;
    }
  }
}
