@import "../../variable.scss";

.header {
  width: 1440px;
  height: 200px;
  .containerLogo {
    display: flex;
    height: 8vh;
    .Logo {
      padding-top: 30px;
      padding-left: 330px;
      color: $mainColor;
      font-size: $mainFontSaize;
    }
  }
  .containerNavFirst {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    .ulFirst {
      display: flex;
      & li {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        list-style: none;
        & a {
          font-size: $listFontSaize;
          padding-left: 70px;
          text-decoration: none;
          color: $mainColor;
        }
        .loginImg {
          display: flex;
          justify-content: center;
          padding-left: 70px;
          width: 30px;
          height: 30px;
        }
        .logout {
          font-size: $listFontSaize;
          margin-top: 10px;
          padding-left: 20px;
          color: $mainColor;
        }
      }
    }
  }
  .containerNavSecond {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    .ulSecond {
      display: flex;
      li {
        margin-top: 0px;
        list-style: none;
        a {
          font-size: $listFontSaize;
          padding-left: 70px;
          text-decoration: none;
          color: $mainColor;
        }
      }
    }
  }
}
