.body {
    position: absolute;
    width: 1440px;
    height: 648px;
    left: 0px;
    top: 160px;
}
.bodyNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 5px;
    gap: 5px;
    width: 662px;
    height: 51px;
    left: 389px;
    top: 2px;
    color: #505050;
    font-size: 14px;
}