.body {
    position: fixed;
    width: 1440px;
    height: 648px;
    left: 0px;
    top: 210px;
}
.find{
    padding-top: 20px;
    padding-left: 850px;
    width: 25px;
}
.topic{
    display: flex;
    font-size: 20px;
    padding-left: 50px;
}
.button{
    text-align: right;
}
hr {
    size: 400px;
    color: red;
}
.navBody {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
