@import "../variable.scss";


.body {
  width: 1440px;
  height: 650px;
  left: 0px;
  top: 180px;
  .containerFind {
    display: flex;
    justify-content: right;
    height: 4vh;
    .find {
      margin-top: 5px;
      padding-right: 250px;
      width: 30px;
    }
  }
  hr {
    margin: 0 auto;
    margin-top: 5px;
    width: 80%;
    height: 3px;
    border: 0;
    background-color: $mainColor;
  }

  .containerTopic {
    display: flex;
    justify-content: space-around;
    padding: 8px 0px;
    .review {
      padding-left: 100px;
      font-size: $h3FontSaize;
      color: $mainColor;
    }
    .button {
      text-align: center;
      width: 140px;
      margin-right: 80px;
      border-radius: 8px;
      font-size: $listFontSaize;
      color: white;
      background-color: $mainColor;
    }
  }
  .containerNavBody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .ulBody {
      list-style: none;
      & li {
        list-style: none;
        text-align: center;
        padding: 20px 0 0;
        font-size: $listFontSaize;
        color: $mainColor;
      }
      .Title {
        margin-top: 8px;
        font-size: $h3FontSaize;
        color: $mainColor;
      }
      .name {
        margin-top: 8px;
        font-size: $h3FontSaize;
        color: $mainColor;
      }
    }
  }
}
