@import "../variable.scss";

.Footer {
  width: 1440px;
  top: 780px;
  .logo {
    text-align: center;
    font-size: $mainFontSaize;
    color: $mainColor;
  }
  .containerNavFooter {
    display: flex;
    justify-content: space-around;
    .ulFooter {
      display: flex;
      margin-bottom: 0px;
      & li {
        display: flex;
        list-style: none;
        text-align: center;
        padding: 30px;
        margin: 30px;
        font-size: $listFontSaize;
        color: $mainColor;
      }
    }
  }
}
